.body-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
}

.fade {
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  perspective: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 550%;
  line-height: 125%;
}

.move-box {
  position: relative;
  color: rgb(245, 207, 18);
  animation: move-text 30s linear;
  animation-iteration-count: infinite;
}

.episode-number,
.episode-name {
  text-align: center;
  margin-bottom: 150px;
}

.text {
  margin-bottom: 100px;
}

@keyframes move-text {
  0% {
    top: 1500px;
    transform: rotateX(45deg) translateZ(0);
  }

  100% {
    top: -5000px;
    transform: rotateX(20deg) translateZ(-2500px);
  }
}

.audio-box {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}
